/* .general-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-form {
}

@media screen and (max-width: 550px) {
  .general-container {
    height: 20vh;
  }
} */
